* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: varela;
}

@font-face {
  font-family: "varela";
  src: url("./assets/varela-round.ttf");
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button,
input {
  font-family: varela;
  border: none;
  outline: none;
}